/**
 * Demo variables
 */
/**
 * Demo Styles
 */
body, .countdown {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #E7E9F2;
  font-family: 'Nunito', sans-serif;
}

/**
 * Countdown Styles
 */
.countdown {
  position: relative;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #121B1C;
  background-size: cover;
  background-position: center center;
  border: 3px solid grey;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.countdown__icon {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 80px;
  fill: transparent;
  stroke: #76E19E;
  stroke-width: 10px;
  stroke-linecap: round;
}

.countdown__icon__circle {
  stroke-dasharray: 375.7873229980469;
}

.countdown__number {
  color: #FFF;
}