body{
  background: black;
 }  
#timer_container > #time{
  margin: 0;
  color: #fff;
  position: relative;
  font-family: arial;
  font-size: 50px;
  font-weight: bold;
  top: 26%;
  left: 5%;
  text-align: center;
}
#timer_container{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  top: 45%;
  left: 45%;
  margin: 0 auto;
}
#timer_container > div {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width:6px;
  height:10px;
  background-color:rgba(225,225,225,.5);
}
