   <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
<div class="WideContentText">
	<h2>API usage</h2>
        <hr class="star-light">
        <p> The script uses a simple API interface it works like that </p>
        <p class="bg-primary">
        http://www.abdulibrahim.com/short/api.php?url=https://www.google.com 
        </p>
        <p> you will get this result</p>
        <p class="bg-primary">
        http://abdulibrahim.com/short/36403
        </p>
</div>
<div class="WideBottom"></div>
</div>
<div class="clear"></div>
</div>
<!-- END CONTENT -->
                </div>
            </div>
        </div>
    </header>

   