    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="WideContentText">
                            <p>Please use the following email address to contact us</p>
                            <h6>Email: {$email}</h6>
                            <p>
                                Thank you <strong style="font-size: 30px">&#9786;</strong>
                            </p>
                            <br />
                        </div>
                        <div class="WideBottom"></div>
                </div>
                <div class="clear"></div>
            </div>
<!-- END CONTENT -->
        </div>
            </div>
        </div>
    </header>

   