    <!-- Header -->
    <header>
        <div class="container">
            
                <div class="row">
                    
                     {if isset($err_msg)}
                    {$err_msg}
                    <br>
                   <strong> <a href="multi.php" style="color: #FFF;">try again</a></strong>
                    
                    
                    {elseif $done eq 0}
                    
                        <H2>Get Short &amp; Protected multi Links:</H2>
                        <br>
                        <div class="col-xs-3"></div>
                         <div class="col-xs-6">
                        <form action="multi.php" method="post">
						<div class="form-group">
                            <input type="hidden" name="form_action" value="1">
						</div>	
							
                                                            
                                                                 
                            <textarea rows="14" name="multiurls"  class="form-control"  required></textarea>
                             
							
                            <div class="form-group">
                            {if $recaptcha_status eq 1}
                            <div class="g-recaptcha recacha_center " data-sitekey="{$recaptcha_Site_key}"></div>
                            {else}{/if}
                            </div>
                            <input type="submit" value="Make them Short!" name="send" class="btn btn-lg btn-outline">
                        </form>
                   </div>
                        <div class="col-xs-3"></div>
                </div>

                <div class="clear">
                </div>
            
            {elseif $done eq 1}
                
                    <h6>Thank You ,, Now Have Fun <strong style="font-size: 30px">&#9786;</strong>  </h6> 
                    <br>
					<div class="row">

                        <div class="col-xs-3"></div>
                         <div class="col-xs-6">
<textarea  class="form-control" rows="14" name="multi">
{section name=id loop=$links}
{$siteurl}/{$links[id]}
{/section}
 </textarea>

                   </div>
                        <div class="col-xs-3"></div>
					</div>
               
            <br>
            <div class="WideBottom">
            </div>
        </div>
        <div class="clear">
        </div>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </header>

   