<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Search</h1>
                    <hr class="star-primary">
                </div>
            </div>

                <div class="row">
                    <div class="col-lg-12">
			{if $done eq 1}
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Search results</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="success">
                                                <th>name</th>
                                                <th>URL</th>
                                                <th>file size</th>
                                                <th>owner</th>
                                                <th>date added</th>
                                                <th>added by</th>
                                                <th>Downloads</th>
                                                 <th>preview</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {section name=id loop=$urls}
                                            <tr>
                                                
                                                {if $urls[id].name eq ''}
                                                <td>N/A</td>
                                                {else}
                                                   <td>{$urls[id].name|truncate:40:"---"}</td>
                                                {/if}
                                                <td><a href="{$urls[id].url}" target="_blank">{$urls[id].url|truncate:40:"---"}</a></td>
                                                {if $urls[id].size eq '0'}
                                                <td>N/A</td>
                                                {else}
                                                   <td>{$urls[id].size}</td>
                                                {/if}
                                                {if $urls[id].author eq ''}
                                                <td>N/A</td>
                                                {else}
                                                   <td>{$urls[id].author}</td>
                                                {/if}
                                                <td>{$urls[id].date}</td>
                                                <td>{$urls[id].admin}</td>
                                                <td>{$urls[id].downloads}</td>
                                                <td><a href="{$siteurl}/{$urls[id].id}" target="_blank" >preview</a></td>
                                            </tr>
                                            {/section}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
			</div>
                        {$pagination}
                        {elseif $done eq 0}
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <div class="panel panel-success">
                        <div class="panel-heading">Enter your search query here</div>
                            <div class="panel-body">
                                <form id="contactForm" action="" method=post>
                                    <div class="row control-group">
                                        <div class="form-group col-xs-8 floating-label-form-group controls">
                                            <input type="hidden" name="form_action" value="1">
                                            <label>search</label>
                                            <input type="text" name="search" class="form-control" placeholder="Search Query" required data-validation-required-message="Please enter a Search Query.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <br>
                                    <div id="success"></div>
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <button type="submit" class="btn btn-success btn-lg">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                      </div>
                </div>
            </div>
            
             <!-- /.row -->
              
                        {/if}
                    </div>
                </div>
                <!-- /.row -->
        </div>
    </section>