<div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Manage site settings
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> site settings
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        {if $done eq 0}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel panel-success">
                                    {if $is_demo eq 1}
                                        <p class="bg-danger">In demo editing settings are disabled </p>
                                                {/if}
                                    <div class="panel-heading">
                                        Use this form to  manage settings
                                    </div>
                                    <div class="panel-body">
                                        <form role="form" action="config.php" name="formurl" method="post">
                                            <input type="hidden" name="form_action" value="1">
                                            <div class="form-group">
                                                <label class="text-primary">site's name</label>
                                                <input class="form-control" name="sitename" value="{$sitename}">
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">site's URL</label>
                                                <input class="form-control" name="siteurl" value="{$siteurl}" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">Site's title</label>
                                                <input class="form-control" name="sitetitle" value="{$sitetitle}">
                                             </div>
                                            <div class="form-group">
                                                    <label class="text-primary">email</label>
                                                    <input class="form-control" name="email" value="{$email}">
                                            </div>
                                            <div class="form-group">
                                                <label class="radio">template</label>
                                                <select size="1" name="template">
                                                    <option selected value="{$template}">{$template}</option>
                                                    {section name=files loop=$templates}
                                                    <option value="{$templates[files]}">{$templates[files]}</option>
                                                    {/section}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">number of seconds to wait</label>
                                                <input class="form-control" name="time" value="{$time}">
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">keywords</label>
                                                <textarea  rows="5" class="form-control" name="keywords" value="{$keywords}">{$keywords}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">description</label>
                                                <textarea  rows="5" class="form-control" name="description" value="{$description}">{$description}</textarea>
                                            </div>
                                            <div class="form-group padding_left_15" >
                                                <label class="radio">open link in Popup </label>
                                                <label class="radio-inline">
                                                    <input type="radio"  class="radio" value="0" name="link_window" {if $link_window eq 0}checked{else}{/if} >
                                                    disable
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" class="radio" name="link_window" {if $link_window eq 1}checked{else}{/if} value="1">
                                                    enable
                                                </label>   
                                            </div>
                                            <div class="form-group padding_left_15" >
                                                <label class="radio">show second page </label>
                                                <label class="radio-inline">
                                                    <input type="radio"  class="radio" value="0" name="second_page" {if $second_page eq 0}checked{else}{/if} >
                                                    disable
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" class="radio" name="second_page" {if $second_page eq 1}checked{else}{/if} value="1">
                                                    enable
                                                </label>   
                                            </div>
                                            <div class="form-group padding_left_15" >
                                                <label class="radio">site status </label>
                                                <label class="radio-inline">
                                                    <input type="radio"  class="radio" value="0" name="sitestate" {if $sitestate eq 0}checked{else}{/if} >
                                                    closed
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" class="radio" name="sitestate" {if $sitestate eq 1}checked{else}{/if} value="1">
                                                    Open
                                                </label>   
                                            </div>
                                            <div class="form-group padding_left_15" >
                                                <label class="radio">reCAPTCHA status </label>
                                                <label class="radio-inline">
                                                        <input type="radio"  class="radio" value="0" name="recaptcha_status" {if $recaptcha_status eq 0}checked{else}{/if} >
                                                        disable
                                                </label>
                                                <label class="radio-inline">
                                                        <input type="radio" class="radio" name="recaptcha_status" {if $recaptcha_status eq 1}checked{else}{/if} value="1">
                                                        enable
                                                </label>   
                                           </div>
                                            <div class="form-group">
                                                <label class="text-primary">recaptcha Site key</label>
                                                <input class="form-control" name="recaptcha_Site_key" value="{$recaptcha_Site_key}">
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">recaptcha Secret key</label>
                                                <input class="form-control" name="recaptcha_Secret_key" value="{$recaptcha_Secret_key}">
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">closed message</label>
                                                <textarea  rows="5" class="form-control" name="sitestatemsg" value="{$time}">{$sitestatemsg}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">analytics</label>
                                                <textarea  rows="5" class="form-control" name="analytics" value="{$time}">{$analytics}</textarea>
                                            </div>
                                           
                                            <button type="submit" class="btn btn-success" name="action">edit settings</button>
                                           
                                        </form>
                                    </div>
                                    <div class="panel-footer">
                                        edit settings
                                    </div>
                                </div>
                            </div>
                        </div>
                        {elseif $done eq 1}
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>successfully edited settings</h1>
                                    <div class="form-group has-success">
                                        <div class="alert alert-success">
                                            <strong> successfully edited</strong> you will be redirected now 
                                        </div>
                                        {literal}
                                            <script>
                                            window.setTimeout(function () {
                                            location.href = "config.php";
                                            }, 2000)
                                            </script>
                                        {/literal}
                                    </div>
                                </div>
                            </div>
                        {/if}
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->


   