<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="4; url=login.php">

    <title>log out</title>
    <!-- Bootstrap Core CSS -->
    <link href="./templates/default/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./templates/default/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="./templates/default/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./templates/default/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="./templates/default/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./templates/default/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="./templates/default/js/plugins/morris/raphael.min.js"></script>
    <script src="./templates/default/js/plugins/morris/morris.min.js"></script>
    <script src="./templates/default/js/plugins/flot/jquery.flot.js"></script>
    <script src="./templates/default/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="./templates/default/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="./templates/default/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="./templates/default/js/plugins/flot/flot-data.js"></script>
    <script src="./templates/default/js/custom.js"></script>
    
</head>

<body style="background-color: #F8F8F8">

    <div> 
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <h3 class="panel-title">logged out</h3>
                            </div>
                            <div class="panel-body">
                                <p>You have successfully logged out</p> 
                                <p>Wait you will be redirect now ...</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
 <!-- /#wrapper -->
</body>
</html>

   