    <div id="page-wrapper">
        <div class="container-fluid">
                <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12"> 
                    <h1 class="page-header">
                        Add multi links
                    </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-signal"></i> Add multi links
                            </li>
                        </ol>
                </div>
            </div>
                <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    {if $done eq 0}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Use this form to  add a new links
                                </div>
                               {if $is_demo eq 1}
                                <p class="bg-danger">In demo the form  is disabled </p>
                                {/if}
                                <div class="panel-body">
                                    <form role="form" action="multilink.php" name="formurl" method=post onSubmit="return check_it();">
                                        <input type="hidden" name="form_action" value="1">
                                        <div class="form-group">
                                            <label class="text-primary">Paste your links here one link per line</label>
                                            <textarea class="form-control" rows="5" name="multiurls" placeholder="paste your links here one by line" required></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-success" name="action">add links</button>
                                        <button type="reset" class="btn btn-warning">Reset fields</button>
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    Add multi link
                                </div>
                            </div>
                        </div>
                    </div>
                    {elseif $done eq 1}
                    <div class="row">
                        <div class="col-lg-6">
                            <h1>successfully added link</h1>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">copy and use them wherever you want</h3>
                                </div>
				<div class="panel-body">
                                <label class="text-primary">the links</label>
<textarea class="form-control" rows="3" name="multiurls" onclick="this.select()">{section name=id loop=$urls}{$siteurl}/{$urls[id]}
{/section}</textarea>
                                    <br>
                                 </div>
                            </div>
                        </div>
                    </div>
                    {/if}
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.container-fluid -->
     </div>
        <!-- /#page-wrapper -->


   