        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Manage links
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Manage links
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                {if $action eq "del"}
                <div class="alert alert-success">
                    <strong> successfully removed</strong> you will be redirected now 
                </div>
                {literal}
                <script>
                   window.setTimeout(function () {
                      location.href = "viewlinks.php";
                   }, 2000)
                </script>
                {/literal}
                {elseif $action eq "update"}
                {if $done eq 0}
                <div class="col-lg-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                           Use this form to  edit a link
                        </div>
                        <div class="panel-body">
                            <form role="form" action="viewlinks.php?do=update&id={$id}" name="formurl" method=post >
                                <input type="hidden" name="form_action" value="1">
                                <div class="form-group">
                                    <label class="text-primary">URL name</label>
                                    <input class="form-control" name="name" value="{$name}">
                                </div>
                                <div class="form-group">
                                    <label class="text-primary">URL</label>
                                    <input class="form-control" name="url" value="{$url}">
                                </div>
                                <div class="form-group">
                                    <label class="text-primary">The size</label>
                                    <input class="form-control" name="size" value="{$size}">
                                </div>
                                <div class="form-group">
                                    <label class="text-primary">the owner</label>
                                    <input class="form-control" name="author" value="{$author}">
                                </div>
                                <button type="submit" class="btn btn-success" name="action">edit the link</button>
                            </form>
                        </div>
                        <div class="panel-footer">
                            edit a link
                        </div>
                    </div>
                </div>
                {elseif $done eq 1}
                <div class="alert alert-success">
                    <strong> successully edited</strong> you will be redirected now 
                </div>
                {literal}
                <script>
                   window.setTimeout(function () {
                      location.href = "viewlinks.php";
                    }, 2000)
                </script>
                {/literal}
                {/if}
                {else}
		<form action="viewlinks.php?do=del" method="post" name="urls">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Edit links</h2>
                            {if $is_demo eq 1}
                            <p class="bg-danger">In demo the form  is disabled </p>
                            {/if}                            
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr class="success">
                                            <th><input type="checkbox" name="check_all" value="" onclick="checkAll(this.form)" class="checkbox" /></th>
                                            <th>name</th>
                                            <th>URL</th>
                                            <th>file size</th>
                                            <th>owner</th>
                                            <th>date added</th>
                                            <th>added by</th>
											<th>Downloads</th>
											<th>preview</th>
                                            <th>edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {section name=id loop=$urls}
                                        <tr>
                                            <td class="active"><input name="check[]" type="checkbox" value="{$urls[id].id}"  /> </td>
                                            {if $urls[id].name eq ''}
                                            <td>N/A</td>
                                            {else}
                                               <td>{$urls[id].name|truncate:40:"---"}</td>
                                            {/if}
                                            <td><a href="{$urls[id].url}" target="_blank">{$urls[id].url|truncate:40:"---"}</a></td>
                                            {if $urls[id].size eq '0'}
                                            <td>N/A</td>
                                            {else}
                                               <td>{$urls[id].size}</td>
                                            {/if}
                                            {if $urls[id].author eq ''}
                                            <td>N/A</td>
                                            {else}
                                               <td>{$urls[id].author}</td>
                                            {/if}
                                            <td>{$urls[id].date}</td>
                                            <td>{$urls[id].admin}</td>
                                            <td>{$urls[id].downloads}</td>
                                            <td><a href="{$siteurl}/{$urls[id].id}" target="_blank" >preview</a></td>
                                            <td><a href="viewlinks.php?do=update&id={$urls[id].id}"><button type="button" class="btn btn-primary">edit it</button></a></td>
                                        </tr>
                                    {/section}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <p>
                        <input type="hidden" name="page_num" value="{$page_num}" />
                        <input name="Submit" class="btn btn-danger" type="submit" value="remove" onclick="alert4d(this.form,'soory you didn't select the link please select one !')" />
                    </p>
		</form>		 
                {$pagination}
                {/if}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->


   