<div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Manage admin
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Manage admins
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                       {if $action eq "show"}
                       <table width="777" cellpadding="0" cellspacing="0"><tr><td width="777" height="25">
                        <table width="777" cellpadding="0" cellspacing="0"><tr><td width="25"><img src="./templates/default/images/container2_right.gif"></td><td background="./templates/default/images/container2_slice.gif" style="padding-right:10px;color:white;">view supervisors statistics</td><td width="25"><img src="./templates/default/images/container2_left.gif"></td></tr></table></td></tr><tr><td width="777">
                        <table width="777" cellpadding="0" cellspacing="0"><tr><td width="1" bgcolor="#d8d8d8"><img src="./templates/default/images/spacer.gif" width=1 height=1></td>
                            <td width="775" style="padding:20px;" valign="top"><h1>view supervisors statistics  ( {$admin_name} )</h1>
                            <form action="viewlinks.php?do=del" method=post>
                                <input type="hidden" name="form_action" value="1">
                                <table>
                                    <tr>
                                        <td align="center">
                                            <ul>
                                                <li>number of links added by view supervisors : {$admin_num_links}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table width="100%" border="1" bordercolor="#AAAADD" style="border:1px solid #AAAADD;border-collapse:collapse;  background-color: #FFF; color: #333399;" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th scope="col"><input type="checkbox" name="check_all" value="" onclick="checkAll(this.form)" /></th>
                                        <th scope="col">name</th>
                                        <th scope="col">original URL</th>
                                        <th scope="col">file size</th>
                                        <th scope="col">sponsor</th>
                                        <th scope="col">date added</th>
                                        <th scope="col">modified</th>
                                    </tr>
                                    {section name=id loop=$urls}
                                    <tr>
                                        <td align="center">
                                            <input name="check[]" type="checkbox" value="{$urls[id].id}"  />              </td>
                                       <td><div align="center">{$urls[id].name}</div></td>
                                       <td><div align="center"><a href="{$urls[id].url}">{$urls[id].url}</a></div></td>
                                       <td><div align="center">{$urls[id].size}</div></td>
                                       <td><div align="center">{$urls[id].author}</div></td>
                                       <td><div align="center">{$urls[id].date}</div></td>
                                       <td><div align="center"><a href="viewlinks.php?do=update&id={$urls[id].id}"><img src="./templates/default/images/update.gif" border="0" /></div></td>
                                    </tr>
                                    {/section}         
                                </table>
                                <p>
                                    <input type="hidden" name="page_num" value="{$page_num}" />
                                    <input type="hidden" name="admin_id_id" value="{$admin_id_id}" />
                                    <input name="Submit" style="font:12px tahoma;width:90px; padding:2px; background:#fff; border: 1px solid #AAAADD;color: #2A3F55;" type="submit" value="remove" onclick="alert4d(this.form,'soory you didn't select the link please select one !')" />
                                </p>
                            </form>
                        </td>
                        <td width="1" bgcolor="#d8d8d8">
                            <img src="./templates/default/images/spacer.gif" width=1 height=1>
                        </td>
		  	</tr>
                    </table>
                    </td>
                    </tr>
                    <tr>
                        <td width="777" height="1" bgcolor="#d8d8d8">
                    <tr>
                        <td align="center">
                            {$pagination}
                        </td>
                    </tr>
            	
                </table>
                <br>
                {elseif $action eq "del"}
                <div class="alert alert-success">
                    <strong> successfully removed</strong> you will be redirected now 
                </div>
                {literal}
                <script>
                   window.setTimeout(function () {
                      location.href = "viewadmins.php";
                   }, 2000)
                </script>
                {/literal}
               {elseif $action eq "update"}
               {if $done eq 0}
                <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Use this form to  edit a link
                    </div>
                    <div class="panel-body">
                        <form role="form" action="viewadmins.php?do=update&id={$id}" name="formurl" method=post onSubmit="return check_it();">
                            <input type="hidden" name="form_action" value="1">
                            <div class="form-group">
                               <label class="text-primary">real name</label>
                               <input class="form-control" name="realname" value="{$realname}"">
                            </div>
                            <div class="form-group">
                                <label class="text-primary">username</label>
                                <input class="form-control" name="name" value="{$name}"">
                            </div>
                            <div class="form-group">
                                <label class="text-primary">email</label>
                                <input class="form-control" name="email" value="{$email}">
                            </div>
                            <div class="form-group">
                                <label class="text-primary">password</label>
                                <input class="form-control" name="password" value="">
                            </div>
                            <div class="form-group">
                                <h3> <span class="label label-success">Permissions</span></h3>

                              <div class="checkbox">
                       
                                  <hr>

                                  <h4><span class="label label-warning">remove</span></h4>
{section name=values loop=$remove}
     <div class="checkbox">
        <label>
            <input type='checkbox' name='removePermission[{$remove[values].id}]' id='removePermission[{$remove[values].id}]' value='{$remove[values].id}'>{$remove[values].name}
        </label>
    </div>

    {/section}

    <hr>

     <h4><span class="label label-primary">Add</span> </h4>
    {section name=values loop=$add}
    <!-- {$add[values].id}
     {$add[values].name}<br />
    -->
    <div class="checkbox">
        <label>
            <input type='checkbox' name='addPermission[{$add[values].id}]' id='addPermission[{$add[values].id}]' value='{$add[values].id}'>{$add[values].name}
        </label>
    </div>


    {/section}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success" name="action">Edit admin</button>
                        </form>
                    </div>
                    <div class="panel-footer">
                        edit an admin
                    </div>
                </div>
            </div>
            {elseif $done eq 1}
            <div class="alert alert-success">
                <strong> successfully edited</strong> you will be redirected now 
            </div>
            {literal}
            <script>
               window.setTimeout(function () {
               location.href = "viewadmins.php?do=update&id={/literal}{$id}{literal}";
                }, 2000)
            </script>
            {/literal}
            {/if}
            {else}
            
            <form action="viewadmins.php?do=del" method="post" name="urls">
               <div class="row">
                    <div class="col-lg-8">
                        {if $is_demo eq 1}
                        <p class="bg-danger">In demo remove and edit button  is disabled </p>
                        {/if}
                        <h2>Edit links</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="success">
                                        <th><input type="checkbox" name="check_all" value="" onclick="checkAll(this.form)" /></th>
                                        <th>username</th>
                                        <th>real name</th>
                                        <th>email</th>
                                        <th>password</th>
                                       <th>edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {section name=id loop=$viewadmin}
                                    <tr>
                                        <td class="active">
                                        <input name="check[]" type="checkbox" value="{$viewadmin[id].id}"  /> 
                                        </td>
                                       <td>{$viewadmin[id].username}</td>
                                       <td>{$viewadmin[id].name}</td>
                                       <td>{$viewadmin[id].email}</td>
                                       <td>hidden</td>
                                       <td>
                                           <a href="viewadmins.php?do=update&id={$viewadmin[id].id}">
                                            <button type="button" class="btn btn-primary">edit it</button>
                                            </a>     
                                       </td>
                                    </tr>
                                    {/section}   
                                </tbody>
                            </table>
                        </div>
                    </div>
		</div>
                <p>
                    
                    <input type="hidden" name="page_num" value="{$page_num}" />
                    <input name="Submit" class="btn btn-danger" type="submit" value="remove" onclick="alert4d(this.form,'soory you didn't select the link please select one !')" />
                </p>
            </form>		 
            {$pagination}
            {/if}
            </div>
        </div>
                <!-- /.row -->
    </div>
            <!-- /.container-fluid -->
</div>
        <!-- /#page-wrapper -->

                                 
                                       
{section name=id loop=$viewadmin}                      
                                     
                                  {* Display Data *} 
        {section name=record loop=$perm_available} 
           
           {foreach from=$perm_available[record] item=name key=id} 
          <!-- <br> <td align='center'>{$id} is {$name}</td> -->
           {if $name eq 'manage admins'}
           {if $viewadmin[id].id eq $id}YES{else}NO{/if}
           {/if}
           {/foreach} 
           </tr> 
        {/section} 
 {/section} 